<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <form action="/" method="post">
        <div>
            Errors: {{ error() }}
        </div>
        <div>
            Old: {{ old() }}
        </div>
        <div>
            <input type="text" name="name" id="name" value="{{ old('name') }}">
            {% if error('name') %}
            {{ error('name') }}
            {% endif %}
        </div>
        <div>
            <input type="number" name="age" id="age" value="{{ old('age') }}">
            {% if error('age') %}
            {{ error('age')}}
            {% endif %}
        </div>
        <div>
            <input type="password" name="password" id="password">
            {% if error('password') %}
            {{ error('password')}}
            {% endif %}
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>